<footer class="text-center w-100 p-4">
    <div >
        <div>
            <h1>Contato</h1>
            <ul class="d-flex">
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin"></i> Linkedin
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i> Instagram
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook"></i> Facebook
                  </a>
                </li>
                <li>
                  <a href="https://api.whatsapp.com/send?phone=5561982952949">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                  </a>
                </li>
                <li>
                  <a href="https://github.com">
                    <i class="fab fa-github"></i> Github
                  </a>
                </li>
              </ul>
        </div>


    </div>
    <div class="mt-2">
        <h1>Desenvolvido por Douglas Marques Amaral</h1>

    </div>
</footer>